/* Montserrat */ 

.montserrat-regular{
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 400 !important;
}
.montserrat-extraLight{
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 200 !important;
}

/* FRADM */ 

.fradm-bold{
    font-family: 'Fradm', sans-serif !important;
    font-weight: 700 !important;
}

/* LibreFranklin */ 

.librefranklin-bold{
    font-family: 'LibreFranklin', sans-serif !important;
    font-weight: 700 !important;
}
.librefranklin-semibold{
    font-family: 'LibreFranklin', sans-serif !important;
    font-weight: 600 !important;
}
.librefranklin-bolditalic{
    font-family: 'LibreFranklin', sans-serif !important;
    font-style: italic;
    font-weight: 700 !important;
}
.librefranklin-regular{
    font-family: 'LibreFranklin', sans-serif !important;
    font-weight: 400 !important;
}
.librefranklin-thin{
    font-family: 'LibreFranklin', sans-serif !important;
    font-weight: 100 !important;
}