/* Montserrat */ 

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('montserrat-regular'), url(fonts/montserrat/Montserrat-Regular.ttf) format('truetype');
    
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    src: local('Montserrat ExtraLight'), local('montserrat-extraLight'), url(fonts/montserrat/Montserrat-Regular.ttf) format('truetype'); 
}

/* FRADM */ 

@font-face {
    font-family: 'Fradm';
    font-style: normal;
    font-weight: 700;
    src: local('Fradm Bold'), local('fradm-bold'), url(fonts/fradm/FRADM.TTF) format('truetype');    
}

/* LibreFranklin */ 

@font-face {
    font-family: 'LibreFranklin';
    font-style: normal;
    font-weight: 700;
    src: local('LibreFranklin Bold'), local('librefranklin-bold'), url(fonts/librefranklin/librefranklin-bold.ttf) format('truetype');    
}
@font-face {
    font-family: 'LibreFranklin';
    font-style: normal;
    font-weight: 600;
    src: local('LibreFranklin SemiBold'), local('librefranklin-semibold'), url(fonts/librefranklin/librefranklin-semibold.ttf) format('truetype');    
}
@font-face {
    font-family: 'LibreFranklin';
    font-style: italic;
    font-weight: 700;
    src: local('LibreFranklin Bold Italic'), local('librefranklin-bolditalic'), url(fonts/librefranklin/librefranklin-bolditalic.ttf) format('truetype');
}
@font-face {
    font-family: 'LibreFranklin';
    font-style: normal;
    font-weight: 400;
    src: local('LibreFranklin Regular'), local('librefranklin-regular'), url(fonts/librefranklin/librefranklin-regular.ttf) format('truetype');    
}
@font-face {
    font-family: 'LibreFranklin';
    font-style: normal;
    font-weight: 100;
    src: local('LibreFranklin Thin'), local('librefranklin-thin'), url(fonts/librefranklin/librefranklin-thin.ttf) format('truetype');    
}